1.RAG Pipeline and Chatbot.json
{
  "name": "RAG Pipeline and Chatbot",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1hcu6Pl5YjQ9odgLR8-wuG8_AHYlp_xRp",
          "mode": "list",
          "cachedResultName": "FAQ",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1hcu6Pl5YjQ9odgLR8-wuG8_AHYlp_xRp"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "dcd6d043-ab16-4d81-9e0c-449bf24311d4",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "FP1sgoGPgjv6v6Pa",
          "name": "talhaansari.admissions@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        220,
        0
      ],
      "id": "bc084e1b-644d-4c7c-a25e-15f596852851",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "FP1sgoGPgjv6v6Pa",
          "name": "talhaansari.admissions@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "content": "# RAG Pipeline and Chatbot",
        "height": 80,
        "width": 460
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        180,
        -120
      ],
      "typeVersion": 1,
      "id": "0b2ee0be-5ba3-4a66-954b-e97c501f3fea",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "demo",
          "mode": "list",
          "cachedResultName": "demo"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        440,
        0
      ],
      "id": "2b293fc9-7669-4400-94f3-1194890cd9fc",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "tFpD7YACVZrK21Ie",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        340,
        200
      ],
      "id": "2e6dab32-a1b7-46d9-bc7a-3b2ac309efc6",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "kYhm7cLmwnXZKIRk",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        540,
        200
      ],
      "id": "f0d7a7d8-f0c3-4a7c-8916-33953e869d17",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1000,
        0
      ],
      "id": "755a068a-34f8-4d6f-8088-8157c07d275d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        820,
        0
      ],
      "id": "ad5f1151-67c6-4d42-a069-d96ccbf03687",
      "name": "When chat message received",
      "webhookId": "8f7adadf-7835-4b19-bf21-a4ccdc54b512"
    },
    {
      "parameters": {
        "model": "anthropic/claude-3.5-sonnet",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        940,
        220
      ],
      "id": "ea04e61d-bc4a-4a44-9550-a80c23eb1b22",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "lwFowt1mTi5cuTMG",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Knowledgebase",
        "pineconeIndex": {
          "__rl": true,
          "value": "demo",
          "mode": "list",
          "cachedResultName": "demo"
        },
        "options": {
          "pineconeNamespace": "demo"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1080,
        240
      ],
      "id": "8eeb16db-8071-4335-a9e4-2244618c1900",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "tFpD7YACVZrK21Ie",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1160,
        360.8172889751196
      ],
      "id": "69f6fe46-64e9-4f8f-b5f6-a1e32f41fcc4",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "kYhm7cLmwnXZKIRk",
          "name": "n8n free OpenAI API credits"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ecd91fd7-c908-46db-8679-66fe416b6410",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3e10b7c711ed68c56a493c0fb5bf962225dfc8c6ac2f501de8ed8811832cab75"
  },
  "id": "du1qtapDHYhPib1M",
  "tags": []
}